.favorite3 {
  width: 100%;
  height: 400px;
  margin-top: 40px;
direction: rtl;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  .favorite2-center {
    width: 80%;
    height: inherit;
    border: 1px solid lightgray;
    border-radius: 20px;

    .top {
      width: 100%;
      height: 60px;
      padding-top: 1px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      .top-center {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        svg {
          width: 24px;
          height: 24px;
          margin-left: 5px;
        }
        p {
          font-size: 25px;
          font-family: yekan;
        }
      }
    }
    .bottom {
      width: 100%;
      height: 320px;
      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        .swiper-slide-itmes {
          width: 100%;
          height: 100%;
          display: flex;
          flex-flow: column wrap;
          .swiper-slide-itme {
            height: 33%;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            column-gap: 3px;
            img {
              width: 86px;
              height: 86px;
            }
            h3 {
              font-family: b-nazanin;
              font-size: 25px;
              font-weight: bold;
              color: #27d0ea;
              width: 5%;
              margin-left: 2px;
            }
            p {
              width: 220px;
              height: 60px;
              font-family: yekan;
              font-size: 14px;
              color: #414266;
              font-weight: normal;
              text-align: right;
              margin-right: 5px;
              border-bottom: 1px solid lightgray;
              margin-top: 40px;
            }
            h4 {
              width: 200px;
              height: 60px;
              font-family: yekan;
              font-size: 14px;
              color: #414266;
              font-weight: normal;
              text-align: right;
              margin-right: 5px;
              margin-top: 40px;
            }
          }
        }
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
